.message {
    display: none;
    padding: 1em 2em;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.message-info {
    border-color: navy;
    background-color: lightblue;
}

.message-error {
    border-color: crimson;
    background-color: lightpink;
}