.img-fluid {
    width: 100%;
}

.card {
    padding: 20px;
    border: 1px solid darkgray;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

.text-center {
    text-align: center !important; /* set this property to this value at any cost */
}

.my-3 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

/* Grid Styles */

.container {
    width: 80%;
    margin: auto;
}

.row {
    /* this is a flexbox parent element */
    display: flex;
    flex-direction: row; /* arrange children rowwise, i.e. horizontally */ 
    flex-wrap: wrap; /* allow children to wrap to next lines instead of overflowing on 1 line */
    justify-content: space-between; /* extra space on a line is spread between items on the line */
    align-items: stretch; /* stretch each item on a line to occupy entire height of the line */
}

.col {
    flex-basis: 100%; /* like width for flexbox */
    
    /* tis is also made a flexbox parent to have the card stretch to full height using align-items */
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

@media all and ( min-width: 640px ) {
    .col {
        flex-basis: 47.5%;
    }
}

@media all and ( min-width: 1024px ) {
    .col {
        flex-basis: 30%;
    }
}